//http://chir.ag/projects/name-that-color/#74563C

// Colors
$grey: #333333;
$white: #fff;
$arrow-town:#998675;
$sandstone: #7b6b5d;
$rodeo-dust: #c7b29a;
$dune: #362f2d;
$gallery:#eee;
$soft-amber:#d5c8b9;
$yellow-metal: #74563c;
