.todoSearch{
  background-color: $soft-amber;
  padding:15px 10px 10px;
  margin-bottom: 20px;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.todoSearch input{
  margin-bottom: 5px;
}

.todoSearch label{
  color:$yellow-metal;
}
